/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
@import "./google-fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f222f;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 200px;
  height: 240px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  transform: rotate(calc(var(--r) * 1deg));
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container .glass i {
  font-size: 4em;
  color: #fff;
  margin-top: -40px;
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 20px;
}

.metal-text {
  font-size: 38px;
  /*text-transform: uppercase; */
  letter-spacing: 2px; /* 字母间距 */
  background: linear-gradient(45deg, #ccc, #fff, #ccc); /* 背景线性渐变 */
  -webkit-background-clip: text; /* 使用文本剪裁 */
  background-clip: text;
  color: transparent; /* 隐藏文本颜色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 文本阴影 */
}

.light {
  background-image: conic-gradient(
    from var(--rotate) at 29% 10%,
    #0b1012 40%,
    #f4f7fc55,
    #0b1012 60%
  );
  font-size: 120px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rotateLight 3s ease-in-out infinite alternate;
}

.text-shadow {
  color: lightblue;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575,
    4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161,
    8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d,
    18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}

.flamboyant-text {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: linear-gradient(45deg, #8000ff, #00ff8f, #0026ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.8);
  position: relative;
  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(255, 0, 0, 0.8);
  }
  50% {
    text-shadow: 0 0 30px rgba(255, 0, 0, 0.8),
      0 0 20px rgba(255, 255, 255, 0.7);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(255, 0, 0, 0.8);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.beautiful-text {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #ff6b6b, #28a745, #007bff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
